html, body {
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  background-image: url(Up-House.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #000;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

.navbar {
  background: transparent;
  border: none;
  color: #fff;
  min-height: 80px;
}


#adventure-logo, #adventure-logo:hover, .navbar-dark .navbar-brand {
  color: #fff;
  font-family: 'Pacifico', cursive;
  text-shadow: 0 0 9px black;
}


a#adventure-logo {
  font-size: xx-large;
}

.navbar-nav>li>a, .navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-family: 'Pacifico', cursive;
  text-shadow: 0 0 12px black;
}
    
#map { 
  width: 700px;
  height: 500px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; 
}

.leftcol {
  height: 500px;
  overflow-y: scroll;
}

#list_items {
  column-count:2;
}

.sightImage{
  width:180px;
  height:150px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

h1 {
  font-family: 'Rancho', cursive;
  /*color: #fff7c0;*/
  color: #ffce00;
}

h2 {
/*  color: #CD5360;
  font-family: 'Magra', sans-serif;
  text-shadow: 0 0 1px black;*/
  color: #a7d2cb;
  font-family: 'Chewy', cursive;
}


h3 {
  color: #02c8a7;
  /*color: #4ec5c1;*/
  font-family: 'Chewy', cursive;
}

.trip {
  color: #a7d2cb;
  font-family: 'Chewy', cursive;
}

a {
  /*color: white;*/
  color: #ff6a5c;
  font-family: 'Magra', sans-serif;
  font-size: 125%;
  text-shadow: 0 0 1px black;
}

a:hover {
  color: #ffce00;
}

/*.sightURL{
  color: #ff6a5c;
}*/


p {
  font-family: 'Magra', sans-serif;
  font-size: 130%;
  color: #ffce00;
}

.category{
  font-family: 'Magra', sans-serif;
  font-size: 120%;
  color: #ff6a5c;
}

.checks{
  font-family: 'Magra', sans-serif;
  font-size: 110%;
  color: #ff6a5c;
}

.todos {
  font-family: 'Magra', sans-serif;
  font-size: 110%;
}

.selectpicker.form-control1 {
  width:180px;
  background-color: #ccdfcb;
  /*background-color: #a7d2cb;*/
  font-family: 'Magra', sans-serif;
}

.btn.btn-primary.mb1.bg-blue {
  width:180px;
}

/*nice blue  #77c9d4*/

ul{ list-style-type: none; }


.btn.btn-danger.btn-xs {
  font-size: 1em;
  background-color: transparent;
  border-color: transparent;
}

.btn.btn-danger.btn-xs:hover {
  color: #ffce00;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ff6a5c; 
    border-radius: 10px;
}

/* Handle on hover */
/*::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}
*/
/*#trip {

}*/

.card.border-info.mb-3.bg-transparent {
  /*margin-bottom:3px;*/
  height: 7em;
  text-align:center;
}

textarea{ 
  width: 100px;
  height:50px; 
}