<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} Title Goes Here {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">


    <link rel="stylesheet" type="text/css" href="/static/styles.css">

    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    {% block head %}
        <!-- put extra CSS/JS here -->
    {% endblock %}
</head>

<body>

     <nav class="navbar navbar-expand-lg navbar-dark">

    <a id="ubermelon-logo" class="navbar-brand" href="/">Adventure Planner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if "user" in session %}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href='/'> Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='/trips'>Trips</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='/logout'>Log Out</a>
        </li>
    </ul>
        {% else %}
        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href='/login-form'> Log In </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='/register-form'>Register</a>
        </li>
      </ul>
      {% endif %}
    </div>

  </nav>


     <!-- Show flashed messages -->
    {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
    {% endwith %}

    {% block body %} Body Content Goes Here {% endblock %}


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    

</body>
</html>




