{% extends 'base.html' %}

{% block title %} Aventure Planner {% endblock %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-3">

  <form id="sights" method="get" action="/city">
    City: <input type="text" name="city" id="city" placeholder="Search a city" required> <br>

    Choose a category:
  <select id="categories" name="categories">
    <option value="Top Sight">Top Sights</option>
    <option value="Museum">Museums</option>
    <option value="Nature">Nature</option>
    <option value="Night Life">NightLife</option>
    <option value="Restaurant">Restaurants</option>
  </select> <br>


    <input type="submit" id="sights" value="Search">

    {% if session %}
      <input type="text" value="true" id="is_session" hidden >
    {% else %}
      <input type="text" value="false" id="is_session" hidden>
    {% endif %}

  </form>

  <p>

    <ul id='list_items'></ul>
  </p>
</div>

<div class="col-9">

<div id="map"></div>
</div>
</div>
</div>

<script src="/static/homepage.js"></script> 

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>



{% endblock %}