{% extends 'base.html' %}
{% block title %} Trip's Info {% endblock %}
{% block body %}

  <h2><a id="trip">{{ trip }}</h2> </a><br>
  <ul>
      {% for sight in sights %}
        <li> <p id='delete_{{ loop.index }}'> {{ sight.sight.name_sight }} ({{ sight.sight.category }})
            <button id='delete_{{ loop.index }}' class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" onClick="deleteSight(this)"><span class="glyphicon glyphicon-trash"></span></button><br>
            <!-- <p style="text-indent: 20px"> Category: {{ sight.sight.category }} </p> -->
        </li><br>
      {% endfor %}
  </ul>

  <br><h3> To-dos </h3>
    <div id='display'></div>


    <textarea id="todo" rows="4" cols="50" name="comment" form="usrform" placeholder='What needs to be done?'></textarea><br>
    <input type="submit" onClick='showInput()'>

  <script> 
  "use strict"
  function confirmDel(results) {
    document.location.reload()
  }

  function deleteSight(param) {
    let delSight = document.querySelector(`p#${param.id}`);
    console.log(delSight.innerText);
    let trip = document.getElementById("trip");
    console.log(trip.innerText);
    var confirmationdel = confirm("Are you sure you want to delete this?")
    if (confirmationdel) {
      let formInputs = {'sight_del': delSight.innerText.trim(),
                        'trip': trip.innerText.trim()}
      $.post("/delete_sight", formInputs, confirmDel);
    }
  }

  function showInput() {
    let div = document.getElementById('display');
    div.innerHTML = div.innerHTML + "<li>" + document.getElementById("todo").value;
  }

 

</script>

{% endblock %}