{% extends 'base.html' %}
{% block title %} Trip's Info {% endblock %}
{% block body %}

  <h2>{{ trip }}</h2>
  <ul>
      {% for sight in sights %}
        {% if session['user'] == sight.user_id %}
            {% if sight.city == trip.lower() %}
                <li> {{ sight.name_sight }} </li><br>
            {% endif %}  
        {% endif %}  
      {% endfor %}
  </ul>

<script>
  "use strict";

  let mapp = new google.maps.Map(document.querySelector('#mapp'), {
      center: {lat: 41.8781, lng: 87.6298}, 
      zoom: 8,
    });

  function addMarker() {
  let myImageURL = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
  let nearSydney = new google.maps.LatLng(-34.788666, 150.41146);
  let marker = new google.maps.Marker({
      position: nearSydney,
      map: map,
      title: 'Hover text',
      icon: myImageURL
  });
  return marker;
}

let marker = addMarker();

</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?" type="text/javascript"></script>

<style type="text/css">
    html, body { height: 80%; margin: 0; padding: 0; }
    #mapp { height: 80%; }
</style>

<div id="mapp"></div>
    

{% endblock %}