{% extends 'base.html' %}
{% block title %} Trips {% endblock %}
{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-4">
  
  
  <h1>Welcome {{ user.fname }} ! <br>
    Start planning your adventure!</h1> <br>


      <h2>Your Adventures:</h2>
    
  <ul>
    {% for trip in trips %}
      {% if user.user_id == trip.user_id %}

      
      <li><a id='delete_{{ loop.index }}' href="/details/{{ trip.trip_name }}"> {{ trip.trip_name.title() }} </a>
        <button id='delete_{{ loop.index }}' class="btn btn-danger btn-xs" onClick="deleteTrip(this)"><i class="fas fa-trash"></i></button>
      </li><br>
      {% endif %}
    {% endfor %}
  </ul>
        


  <form id="trips" method="get" action="/add-trips">
    <input class="form-control" type="text" name="trip" id="trip" placeholder="Next Adventure" required>
    <input type="submit" id="trip" value="Add an Adventure" class="btn btn-primary">
  </form>
  </div>
  <div class="col-8"></div>

</div>
</div>

<script>
  "use strict"
  function confirmDelete(results) {
    document.location.reload()
  }

  function deleteTrip(param) {
    let delTrip = document.querySelector(`a#${param.id}`);
    console.log(delTrip.innerText);
    var confirmation = confirm("Are you sure you want to delete this trip?")
    if (confirmation) {
      let formInputs = {'trip_del': delTrip.innerText.trim()}
      $.post("/delete_trip", formInputs,confirmDelete);
    }
  }
</script>


{% endblock %}
