{% extends 'base.html' %}
{% block title %} Trips {% endblock %}
{% block body %}

  <h2>Hi {{ user.fname }} !</h2>

  <h3>Your Trips:</h3>
  <ul>
    {% for trip in trips %}
      {% if user.user_id == trip.user_id %}
      <li><a href="/details/{{ trip.city }}"> {{ trip.city }} </a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <form id="trips" method="get" action="/add-trips">
    Trip Name: <input type="text" name="trip" id="trip" required>

    <input type="submit" id="trip" value="Add a trip">
  </form>

{% endblock %}
